[user]
	name = Matthew Willson
	email = matthew@swiftkey.net
[color]
	ui = true
[branch]
	autosetuprebase = always
[push]
	default = current
[diff]
	renames = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	excludesfile = /home/matthew/.gitignore
